ev-surplus-flow-v2.json
[
  {
    "id": "ev-tab",
    "type": "tab",
    "label": "EV Surplus Charging",
    "disabled": false,
    "info": "Automatic EV surplus solar charging for Feyree via dbus-mqtt-devices.\nActivates only when Victron mode = Auto (1).\nPublishes SetCurrent and StartStop every 30s based on available surplus.\n\nv2 — fixes stale SetCurrent when switching Auto → Manual."
  },
  {
    "id": "mqtt-local",
    "type": "mqtt-broker",
    "name": "Cerbo Local",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "nr-ev-surplus",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },

  {
    "id": "c-s1",
    "type": "comment",
    "z": "ev-tab",
    "name": "── SECTION 1: Configuration ──",
    "info": "",
    "x": 160,
    "y": 30,
    "wires": []
  },
  {
    "id": "inject-config",
    "type": "inject",
    "z": "ev-tab",
    "name": "Init on deploy",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 60,
    "wires": [["fn-config"]]
  },
  {
    "id": "fn-config",
    "type": "function",
    "z": "ev-tab",
    "name": "⚙️ CONFIG — edit here",
    "func": "// ── Portal & instance ───────────────────────────\nflow.set('PORTAL_ID', '48e7da87b65f');\n\n// ── Battery protection ──────────────────────────\nflow.set('MIN_SOC', 20);              // % — stop EV charging below this\nflow.set('MAX_BATT_DISCHARGE', 500);  // W  — max battery discharge to top up EV\n\n// ── Charger limits ───────────────────────────────\nflow.set('MIN_CURRENT', 6);           // A  — minimum Feyree accepts\nflow.set('MAX_CURRENT', 16);          // A  — Feyree hardware maximum\n\n// ── System ───────────────────────────────────────\nflow.set('PHASES', 3);                // number of phases\nflow.set('VOLTAGE', 230);             // V per phase\n\n// ── Ramp limits (Feyree limitation) ─────────────\nflow.set('MAX_RAMP_UP', 6);           // A  — max increase per 30s step\nflow.set('MAX_RAMP_DOWN', 2);         // A  — max decrease per 30s step\n\n// ── Grid setpoint ────────────────────────────────\nflow.set('GRID_SETPOINT', 0);         // W  — negative = keep X watts export margin\n                                      //      e.g. -200 = always keep 200W exporting\n\n// ── Mode values (do not change) ──────────────────\nflow.set('AUTO_MODE_VALUE', 1);       // 0=Manual 1=Auto 2=Scheduled\n\nnode.status({fill:'green', shape:'dot', text:'Config OK'});\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 60,
    "wires": [[]]
  },

  {
    "id": "c-s2",
    "type": "comment",
    "z": "ev-tab",
    "name": "── SECTION 2: Capture EV instance from dbus-mqtt-devices ──",
    "info": "Fires once when dbus-mqtt-devices responds with device instance numbers.\nStores ev1 instance into flow context for use in all MQTT topics.",
    "x": 250,
    "y": 130,
    "wires": []
  },
  {
    "id": "mqtt-in-dbus",
    "type": "mqtt in",
    "z": "ev-tab",
    "name": "device/ha_bridge/DBus",
    "topic": "device/ha_bridge/DBus",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-local",
    "inputs": 0,
    "x": 170,
    "y": 165,
    "wires": [["fn-instance"]]
  },
  {
    "id": "fn-instance",
    "type": "function",
    "z": "ev-tab",
    "name": "Store EV instance",
    "func": "const d = msg.payload;\nif (d && d.deviceInstance && d.deviceInstance.ev1 !== undefined) {\n    flow.set('EV_INSTANCE', d.deviceInstance.ev1);\n    node.status({fill:'green', shape:'dot', text:'ev1 instance: ' + d.deviceInstance.ev1});\n} else {\n    node.status({fill:'yellow', shape:'ring', text:'No ev1 in payload'});\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 165,
    "wires": [[]]
  },

  {
    "id": "c-s3",
    "type": "comment",
    "z": "ev-tab",
    "name": "── SECTION 3: Victron data (continuous, updates flow context) ──",
    "info": "All values are stored in flow context.\nThe calculation node reads them on each 30s tick.",
    "x": 260,
    "y": 240,
    "wires": []
  },
  {
    "id": "vn-grid-l1",
    "type": "victron-input-system",
    "z": "ev-tab",
    "service": "com.victronenergy.system/0",
    "path": "/Ac/Grid/L1/Power",
    "serviceObj": {"service": "com.victronenergy.system/0", "name": "Venus system", "communityTag": "system"},
    "pathObj": {"path": "/Ac/Grid/L1/Power", "type": "float", "name": "Grid L1 (W)"},
    "name": "Grid L1",
    "onlyChanges": false,
    "outputs": 1,
    "conditionalMode": false,
    "x": 140,
    "y": 280,
    "wires": [["fn-l1"]]
  },
  {
    "id": "fn-l1",
    "type": "function",
    "z": "ev-tab",
    "name": "",
    "func": "if (msg.payload !== null && msg.payload !== undefined) flow.set('grid_l1', parseFloat(msg.payload));\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "vn-grid-l2",
    "type": "victron-input-system",
    "z": "ev-tab",
    "service": "com.victronenergy.system/0",
    "path": "/Ac/Grid/L2/Power",
    "serviceObj": {"service": "com.victronenergy.system/0", "name": "Venus system", "communityTag": "system"},
    "pathObj": {"path": "/Ac/Grid/L2/Power", "type": "float", "name": "Grid L2 (W)"},
    "name": "Grid L2",
    "onlyChanges": false,
    "outputs": 1,
    "conditionalMode": false,
    "x": 140,
    "y": 315,
    "wires": [["fn-l2"]]
  },
  {
    "id": "fn-l2",
    "type": "function",
    "z": "ev-tab",
    "name": "",
    "func": "if (msg.payload !== null && msg.payload !== undefined) flow.set('grid_l2', parseFloat(msg.payload));\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 315,
    "wires": [[]]
  },
  {
    "id": "vn-grid-l3",
    "type": "victron-input-system",
    "z": "ev-tab",
    "service": "com.victronenergy.system/0",
    "path": "/Ac/Grid/L3/Power",
    "serviceObj": {"service": "com.victronenergy.system/0", "name": "Venus system", "communityTag": "system"},
    "pathObj": {"path": "/Ac/Grid/L3/Power", "type": "float", "name": "Grid L3 (W)"},
    "name": "Grid L3",
    "onlyChanges": false,
    "outputs": 1,
    "conditionalMode": false,
    "x": 140,
    "y": 350,
    "wires": [["fn-l3"]]
  },
  {
    "id": "fn-l3",
    "type": "function",
    "z": "ev-tab",
    "name": "",
    "func": "if (msg.payload !== null && msg.payload !== undefined) flow.set('grid_l3', parseFloat(msg.payload));\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 350,
    "wires": [[]]
  },
  {
    "id": "vn-soc",
    "type": "victron-input-system",
    "z": "ev-tab",
    "service": "com.victronenergy.system/0",
    "path": "/Dc/Battery/Soc",
    "serviceObj": {"service": "com.victronenergy.system/0", "name": "Venus system", "communityTag": "system"},
    "pathObj": {"path": "/Dc/Battery/Soc", "type": "float", "name": "Battery State of Charge (%)"},
    "name": "Battery SOC",
    "onlyChanges": false,
    "outputs": 1,
    "conditionalMode": false,
    "x": 140,
    "y": 405,
    "wires": [["fn-soc"]]
  },
  {
    "id": "fn-soc",
    "type": "function",
    "z": "ev-tab",
    "name": "",
    "func": "if (msg.payload !== null && msg.payload !== undefined) flow.set('battery_soc', parseFloat(msg.payload));\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 405,
    "wires": [[]]
  },
  {
    "id": "vn-batt",
    "type": "victron-input-system",
    "z": "ev-tab",
    "service": "com.victronenergy.system/0",
    "path": "/Dc/Battery/Power",
    "serviceObj": {"service": "com.victronenergy.system/0", "name": "Venus system", "communityTag": "system"},
    "pathObj": {"path": "/Dc/Battery/Power", "type": "float", "name": "Battery Power (W)"},
    "name": "Battery Power",
    "onlyChanges": false,
    "outputs": 1,
    "conditionalMode": false,
    "x": 140,
    "y": 440,
    "wires": [["fn-batt"]]
  },
  {
    "id": "fn-batt",
    "type": "function",
    "z": "ev-tab",
    "name": "",
    "func": "if (msg.payload !== null && msg.payload !== undefined) flow.set('battery_power', parseFloat(msg.payload));\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "mqtt-ev-power",
    "type": "mqtt in",
    "z": "ev-tab",
    "name": "EV Ac/Power",
    "topic": "N/48e7da87b65f/evcharger/+/Ac/Power",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-local",
    "inputs": 0,
    "x": 140,
    "y": 495,
    "wires": [["fn-ev-power"]]
  },
  {
    "id": "fn-ev-power",
    "type": "function",
    "z": "ev-tab",
    "name": "",
    "func": "if (msg.payload && msg.payload.value !== undefined) flow.set('ev_power', parseFloat(msg.payload.value) || 0);\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 495,
    "wires": [[]]
  },
  {
    "id": "mqtt-ev-status",
    "type": "mqtt in",
    "z": "ev-tab",
    "name": "EV Status",
    "topic": "N/48e7da87b65f/evcharger/+/Status",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-local",
    "inputs": 0,
    "x": 140,
    "y": 530,
    "wires": [["fn-ev-status"]]
  },
  {
    "id": "fn-ev-status",
    "type": "function",
    "z": "ev-tab",
    "name": "",
    "func": "if (msg.payload && msg.payload.value !== undefined) {\n    const v = parseInt(msg.payload.value);\n    flow.set('ev_status', v);\n    const labels = {\n        0:'Disconnected', 1:'Connected',\n        2:'Charging',     3:'Charged',\n        6:'Waiting for start'\n    };\n    node.status({\n        fill:  v===2 ? 'green' : v===1 ? 'blue' : 'grey',\n        shape: 'dot',\n        text:  labels[v] || 'Status ' + v\n    });\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 530,
    "wires": [[]]
  },

  {
    "id": "mqtt-ev-mode",
    "type": "mqtt in",
    "z": "ev-tab",
    "name": "EV Mode (from Victron)",
    "topic": "N/48e7da87b65f/evcharger/+/Mode",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-local",
    "inputs": 0,
    "x": 150,
    "y": 580,
    "wires": [["fn-ev-mode"]]
  },
  {
    "id": "fn-ev-mode",
    "type": "function",
    "z": "ev-tab",
    "name": "Store & display mode",
    "func": "if (msg.payload && msg.payload.value !== undefined) {\n    const v           = parseInt(msg.payload.value);\n    const prev_mode   = flow.get('ev_mode');\n    const MAX_CURRENT = flow.get('MAX_CURRENT') || 16;\n    const PORTAL_ID   = flow.get('PORTAL_ID')   || '48e7da87b65f';\n    const EV_INSTANCE = flow.get('EV_INSTANCE');\n\n    flow.set('ev_mode', v);\n\n    const labels = {0:'Manual', 1:'Auto', 2:'Scheduled'};\n    node.status({\n        fill:  v === 1 ? 'green' : 'grey',\n        shape: 'dot',\n        text:  labels[v] || 'Unknown (' + v + ')'\n    });\n\n    // ── Transition FROM Auto → Manual/Scheduled ──────────────────\n    // Reset stored target so next Auto activation starts clean.\n    // Publish SetCurrent = MAX_CURRENT to clear the stale Auto-mode\n    // value that Victron keeps echoing on N/.../SetCurrent and that\n    // was overwriting the user's manual current setting in HA.\n    if (prev_mode === 1 && v !== 1 && EV_INSTANCE !== undefined) {\n        flow.set('ev_target_current', 0);\n        const base = 'W/' + PORTAL_ID + '/evcharger/' + EV_INSTANCE;\n        node.warn('Mode Auto → ' + (labels[v] || v)\n                + ' — releasing SetCurrent, reset to MAX: ' + MAX_CURRENT + 'A');\n        return {\n            payload: JSON.stringify({value: MAX_CURRENT}),\n            topic:   base + '/SetCurrent'\n        };\n    }\n}\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 580,
    "wires": [["mqtt-set-current"]]
  },

  {
    "id": "c-s4",
    "type": "comment",
    "z": "ev-tab",
    "name": "── SECTION 4: Calculation (every 30s) ──",
    "info": "Timer fires every 30 seconds.\nReads all flow context values, applies surplus algorithm, publishes SetCurrent and StartStop.\nOnly active when ev_mode === AUTO_MODE_VALUE (1).",
    "x": 200,
    "y": 640,
    "wires": []
  },
  {
    "id": "inject-timer",
    "type": "inject",
    "z": "ev-tab",
    "name": "Every 30s",
    "props": [{"p": "payload"}],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "15",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 675,
    "wires": [["fn-calc"]]
  },
  {
    "id": "fn-calc",
    "type": "function",
    "z": "ev-tab",
    "name": "Calculate surplus & ramp",
    "func": "// ── Read config ─────────────────────────────────\nconst PORTAL_ID          = flow.get('PORTAL_ID')          || '48e7da87b65f';\nconst EV_INSTANCE        = flow.get('EV_INSTANCE');\nconst MIN_SOC            = flow.get('MIN_SOC')            || 20;\nconst MIN_CURRENT        = flow.get('MIN_CURRENT')        || 6;\nconst MAX_CURRENT        = flow.get('MAX_CURRENT')        || 16;\nconst PHASES             = flow.get('PHASES')             || 3;\nconst VOLTAGE            = flow.get('VOLTAGE')            || 230;\nconst MAX_RAMP_DOWN      = flow.get('MAX_RAMP_DOWN')      || 2;\nconst MAX_RAMP_UP        = flow.get('MAX_RAMP_UP')        || 6;\nconst GRID_SETPOINT      = flow.get('GRID_SETPOINT')      || 0;\nconst MAX_BATT_DISCHARGE = flow.get('MAX_BATT_DISCHARGE') || 500;\nconst AUTO_MODE_VALUE    = flow.get('AUTO_MODE_VALUE')    || 1;\n\n// ── Read live data ───────────────────────────────\nconst grid_l1       = flow.get('grid_l1')       || 0;\nconst grid_l2       = flow.get('grid_l2')       || 0;\nconst grid_l3       = flow.get('grid_l3')       || 0;\nconst grid_power    = grid_l1 + grid_l2 + grid_l3;\nconst battery_soc   = flow.get('battery_soc');\nconst battery_power = flow.get('battery_power') || 0;\nconst ev_power      = flow.get('ev_power')      || 0;\nconst ev_status     = flow.get('ev_status');\nconst ev_mode       = flow.get('ev_mode');\nconst prev_current  = flow.get('ev_target_current') || 0;\n\nconst base = 'W/' + PORTAL_ID + '/evcharger/' + EV_INSTANCE;\n\n// ── Guard: instance known? ───────────────────────\nif (EV_INSTANCE === undefined || EV_INSTANCE === null) {\n    node.status({fill:'yellow', shape:'ring', text:'Waiting for EV instance...'});\n    return null;\n}\n\n// ── Guard: data available? ───────────────────────\nif (battery_soc === undefined || battery_soc === null) {\n    node.status({fill:'yellow', shape:'ring', text:'Waiting for battery SOC...'});\n    return null;\n}\n\n// ── Guard: Auto mode only ────────────────────────\nif (ev_mode !== AUTO_MODE_VALUE) {\n    node.status({\n        fill:  'grey',\n        shape: 'ring',\n        text:  ev_mode === 2         ? 'Scheduled mode — inactive'\n             : ev_mode === 0         ? 'Manual mode — inactive'\n             : ev_mode === undefined ? 'Mode unknown — waiting'\n             : 'Mode ' + ev_mode + ' — inactive'\n    });\n    return null;\n}\n\n// ── Guard: car connected? ────────────────────────\nif (ev_status === 0 || ev_status === undefined) {\n    flow.set('ev_target_current', 0);\n    node.status({fill:'grey', shape:'ring', text:'Car not connected'});\n    return null;\n}\n\n// ── Guard: already fully charged? ───────────────\nif (ev_status === 3) {\n    flow.set('ev_target_current', 0);\n    node.status({fill:'blue', shape:'dot', text:'Car fully charged'});\n    return [\n        null,\n        {payload: JSON.stringify({value: 0}), topic: base + '/StartStop'}\n    ];\n}\n\n// ── Guard: battery SOC too low ───────────────────\nif (battery_soc < MIN_SOC) {\n    flow.set('ev_target_current', MIN_CURRENT);\n    node.status({\n        fill:  'red',\n        shape: 'dot',\n        text:  'SOC ' + battery_soc.toFixed(0) + '% < min ' + MIN_SOC + '% — stopped'\n    });\n    return [\n        {payload: JSON.stringify({value: MIN_CURRENT}), topic: base + '/SetCurrent'},\n        {payload: JSON.stringify({value: 0}),           topic: base + '/StartStop'}\n    ];\n}\n\n// ── Surplus calculation ──────────────────────────\n// grid_power negative = exporting, positive = importing\n// available_watts = what we can redirect to EV without importing\nconst available_watts = ev_power - grid_power + GRID_SETPOINT;\nlet target_current = available_watts / (PHASES * VOLTAGE);\n\n// ── Battery discharge limit ──────────────────────\nif (battery_power < -MAX_BATT_DISCHARGE && target_current > prev_current) {\n    target_current = prev_current - MAX_RAMP_DOWN;\n}\n\ntarget_current = Math.max(0, Math.min(target_current, MAX_CURRENT));\n\n// ── Apply ramp limits ────────────────────────────\nlet new_current;\nif (target_current < MIN_CURRENT) {\n    new_current = 0;\n} else if (target_current >= prev_current) {\n    new_current = Math.min(prev_current + MAX_RAMP_UP, target_current, MAX_CURRENT);\n} else {\n    new_current = Math.max(prev_current - MAX_RAMP_DOWN, target_current, MIN_CURRENT);\n}\n\nnew_current = Math.round(new_current);\nconst should_charge = new_current >= MIN_CURRENT;\nconst kw = (new_current * PHASES * VOLTAGE / 1000).toFixed(1);\n\nflow.set('ev_target_current', new_current);\n\nnode.status({\n    fill:  should_charge ? 'green' : 'yellow',\n    shape: 'dot',\n    text:  (should_charge\n                ? new_current + 'A / ' + kw + 'kW'\n                : 'paused — below min ' + MIN_CURRENT + 'A')\n         + ' | surplus:' + available_watts.toFixed(0) + 'W'\n         + ' | SOC:' + battery_soc.toFixed(0) + '%'\n         + ' | grid:' + grid_power.toFixed(0) + 'W'\n});\n\nreturn [\n    {payload: JSON.stringify({value: new_current}),           topic: base + '/SetCurrent'},\n    {payload: JSON.stringify({value: should_charge ? 1 : 0}), topic: base + '/StartStop'}\n];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 675,
    "wires": [
      ["mqtt-set-current", "debug-ev"],
      ["mqtt-start-stop"]
    ]
  },

  {
    "id": "mqtt-set-current",
    "type": "mqtt out",
    "z": "ev-tab",
    "name": "→ SetCurrent",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt-local",
    "x": 660,
    "y": 620,
    "wires": []
  },
  {
    "id": "mqtt-start-stop",
    "type": "mqtt out",
    "z": "ev-tab",
    "name": "→ StartStop",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt-local",
    "x": 660,
    "y": 700,
    "wires": []
  },
  {
    "id": "debug-ev",
    "type": "debug",
    "z": "ev-tab",
    "name": "EV debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 660,
    "y": 760,
    "wires": []
  },

  {
    "id": "dda9f85ffa4f33f2",
    "type": "global-config",
    "env": [],
    "modules": {
      "@victronenergy/node-red-contrib-victron": "1.6.63"
    }
  }
]
